# Core functionality - changes here should be rare!
/src/app.py                   @navneet102
/src/backend/database.py      @navneet102
/src/backend/routers/auth.py  @navneet102

# The frontend will need refactored soon to be more object oriented.
/src/static/   @navneet102
